.admin-dashboard-container {
  padding: 30px;
  background: #f5f6fa;
  min-height: 100vh;
  overflow-y: auto;
}

.admin-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.syllabus-list {
  display: flex;
  gap: 15px;
  max-width: 900px;
  flex-direction: column;
  margin: 0 auto;
}

.syllabus-card {
  background: #f9f9f9;
  border: 1px solid #c8102e;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: transform 0.1s ease-in-out;
}

.syllabus-card:hover {
  transform: scale(1.01);
}

.syllabus-card h3 {
  margin-bottom: 8px;
}

.syllabus-meta {
  margin: 4px 0;
  font-size: 14px;
  color: black;
}

.file-link {
  display: inline-block;
  margin-top: 10px;
  color: #2f6fed;
  text-decoration: none;
  font-weight: 500;
}

.file-link:hover {
  text-decoration: underline;
}

.columns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.syllabus-meta2{
  color: pink;
}